* {
  background-color: #2f2fa2;
  color: white;
}
.header-text {
  text-align: center;
  font-size: xx-large;
  height: 10vh;
  padding-top: 2.5vh;
}
main {
  display: flex;
  max-height: 100vh;
  max-width: 100vw;
}
h3 {
  text-align: center;
  height: 5vh;
}
.current-city-container {
  width: 85vw;
  height: 45vh;
}
.five-day-forecast {
  height: 45vh;
  width: 85vw;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.card {
  border-radius: 25px;
  width: 12.5vw;
  height: 27vh;
  background-color: #f64c72;
  box-shadow: 7px -7px #242582;
}
.card-info {
  background-color: #f64c72;
}
h2 {
  height: 5vh;
}
.sidebar-header {
  text-align: center;
}
.inputs {
  height: 10vh;
  width: 15vw;
  background-color: #f64c72;
  border-radius: 15px;
}
/* This is the users input */
.city {
}
/* This is the input button */
.searchBtn {
}
.savedCities {
  height: 75vh;
  margin-top: 0.5vh;
  background-color: #f64c72;
  border-radius: 15px;
}
